name: Cleanup production AMIs

concurrency:
  group: cleanup

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 2 */3 * *'

jobs:
  cleanup:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.aws_oidc_role_arn }}
          role-session-name: ${{ env.GITHUB_WORKFLOW }}
          aws-region: ${{ vars.AWS_REGION }}
      - run: bundle exec bin/utils/cleanup-amis -f
        env:
          AMI_PREFIX: runs-on-v2.2
